* {
  margin: 0;
  padding: 0;
}

/* BODY Section */
body {
  background-color: rgb(100, 225, 100);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Bitter", serif;
  font-family: "Kameron", serif;
  font-family: "Poppins", sans-serif;
}

/* Navbar Section  */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  border: 2px solid rgb(2, 94, 57);
  height: 60px;
}

.logo {
  font-size: 1.5rem;
}
.logo img{
    width: 70%;
}
.nav-items ul {
  display: flex;
  list-style: none;
}

.nav-items li {
  margin: 0 25px;
}

.nav-items a {
  text-decoration: none;
  color: white;
}
.nav-items a:hover {
  color: lightseagreen;
}

/* First Section  */

.first-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.first-section > div {
  width: 30%;
}
.first-section .left {
  font-size: 2.5rem;
}
.first-section .right {
 
}
.first-section .right img {
    width: 30vw;
  }

.green {
  color: rgb(32, 156, 32);
}
#element{
  color: rgb(32, 156, 32) ;
}

.second-section {
  max-width: 80vw;
  margin: auto;
}
